.container {
    display: flex;
    height: 100%;
    width: 100%;
}

.main {
    width: 100%;
}

/*
* HEADER
*/

.header {
    grid-area: header;
    background-color: var(--color-white);
    border-bottom: 1px solid var(--color-n400);
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerRight {
    display: flex;
}

.logoutBtn:focus {
    background-color: var(--color-n100);
    border-radius: 4px;
}

/*
* MAIN
*/

.main {
    grid-area: main;
    /* padding: 90px 100px; */
    overflow-y: auto;
}

@media screen and (max-width: 1000px) {
    .container {
        grid-template-columns: auto;
        grid-template-rows: 60px 1fr;
        grid-template-areas:
            "main"
            "main";
    }

    .sidebar {
        display: none;
    }
}
