.container {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.main {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    width: 100%;
    overflow: hidden;

    @media print {
        display: block;
        max-height: unset;
    }

    .pageContent {
        overflow-y: auto;
        width: 100%;
        height: 100%;
    
        @media print {
            overflow-y: hidden;
        }
    }
}

