:root {
    --color-black: #000000;
    --color-gray: #474D66;
    --color-white: #FFFFFF;

    --color-blue: #3366FF;
    --color-green: #52BD94;
    --color-yellow: #FFB020;
    --color-red: #D14343;

    /* Neutral */
    --color-n0: #FFFFFF;
    --color-n50: #FAFBFF;
    --color-n75: #F9FAFC;
    --color-n100: #F4F6FA;
    --color-n200: #EDEFF5;
    --color-n300: #E6E8F0;
    --color-n400: #D8DAE5;
    --color-n500: #C1C4D6;
    --color-n600: #8F95B2;
    --color-n700: #696F8C;
    --color-n800: #474D66;
    --color-n900: #101840;

    /* Blue */
    --color-b50: #F3F6FF;
    --color-b100: #EBF0FF;
    --color-b200: #D6E0FF;
    --color-b300: #9DB5FF;
    --color-b400: #3366FF;
    --color-b500: #2952CC;
    --color-b600: #1F3D99;

    /* Red */
    --color-r50: #FDF4F4;
    --color-r100: #F9DADA;
    --color-r200: #F4B6B6;
    --color-r300: #EE9191;
    --color-r400: #D14343;
    --color-r500: #A73636;
    --color-r600: #7D2828;
}