.backdrop {
    display: none;

    @media (max-width: 768px) {
        display: block;
        position: absolute;
        inset: 0;
        z-index: 25;
        background: var(--color-black);
        pointer-events: none;
        opacity: 0;
        transition: all ease-out 0.2s;

        &.visible {
            opacity: 0.75;
            pointer-events: all;
        }
    }
}

.sidebar {
    position: relative;
    max-height: 100vh;
    width: 300px;
    border-right: 1px solid var(--color-n300);
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    overflow: auto;
    background-color: var(--color-n75);
    margin-left: -300px;

    &.open {
        margin-left: 0;
    }

    transition: all ease-out 0.25s;
    z-index: 25;

    @media (max-width: 768px) {
        position: absolute;
        top: 0;
        bottom: 0;
        margin-left: 0;
        opacity: 0;
        transform: translateX(-100%);

        &.mobileOpen {
            opacity: 1;
            transform: translateX(0)
        }
    }

    @media print {
        display: none;
    }
}

.section {
    display: flex;
    padding: 0.75rem 1rem;
    flex-direction: column;
    flex-shrink: 0;
    gap: 2px;

    .sectionHeader {
        font-size: 0.85rem;
        font-weight: 400;
        margin: 0 0 5px 0;
        color: var(--color-n600);
        flex-shrink: 0;
        display: flex;
        justify-content: space-between;
        user-select: none;
        cursor: pointer;

        .count {
            font-size: 0.95em;
            font-weight: 400;
            color: var(--color-n500);
            border-radius: 5px;
        }
    }
    
    .sectionContent {
        display: flex;
        flex-direction: column;
        gap: 2px;
        
        transition: all 5s;

        &:not(.expanded) {
            max-height: 0;
            overflow: hidden;
        }
    }
}



