.sidebarButton {
    color: var(--color-n800);
    display: flex;
    align-items: center;
    padding: 5px 4px;
    margin: 2px 0;
    border-radius: 4px;
    cursor: pointer;
}

.sidebarButton:hover {
    background-color: var(--color-n200);
}

.sidebarButtonIconContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-n600);
}

.sidebarButtonIconContainer > svg {
    font-size: 20px;
}

.sidebarButtonText {
    margin-left: 12px;
    font-size: 0.95em;
}
