.subdocument {
    border-radius: 4px;
    cursor: pointer;
}

.subdocument:hover {
    background-color: var(--color-n75);
}

.icon {
    color: var(--color-n700);
    display: flex;
    align-items: center;
}

.title {
    margin-left: 5px;
    color: var(--color-n900);
    font-weight: 500;
    line-height: 125%;
    border-bottom: 1px solid var(--color-n600);
}

.alignItemsCenter {
    display: flex;
    align-items: center;
}

.deleteBtn {
    border: none;
    background: none;
    color: var(--color-n500);
    cursor: pointer;
    padding: 0;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.deleteBtn:hover {
    background-color: var(--color-n200);
}
