.container {
    padding: 90px 100px;
    overflow-y: auto;
    height: 100%;
}

.pageTitle {
    font-size: 32;
    font-weight: 600;
}

.spacesList .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    border-bottom: 1px solid var(--color-n400);
    padding: 16px 0;
    flex-wrap: wrap;
}

.sortingSelects {
    display: flex;
    align-items: center;
}

.sortingSelects .sortingModeSelect {
    width: 250px;
    margin-right: 16px;
}

.sortingSelects .orderSelect {
    width: 150px;
}

.addSpaceBtn {
    border: none;
    border-radius: 4px;
    fill: var(--color-blue);
    background-color: var(--color-b100);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px 10px 20px;
    margin-left: 20px;
    outline: solid 0px var(--color-b100);
    transition: outline .05s ease-in-out, 
                background-color .1s ease-in,
                color .1s ease-in,
                fill .1s ease-in;

    font-size: 14px;
    font-weight: 500;
    color: var(--color-blue);
    cursor: pointer;
}

.addSpaceBtn > svg {
    width: 1rem;
    height: 1rem;
    margin-right: 10px;
}

.addSpaceBtn:focus {
    outline-width: 2px;
}

.addSpaceBtn:hover,
.addSpaceBtn:focus {
    background-color: var(--color-b200);
    /* color: var(--color-white);
    fill: var(--color-white); */
}

@media screen and (max-width: 1100px) {
    .spacesList .header {
        align-items: flex-start;
    }

    .sortingSelects {
        flex-direction: column;
        width: 100%;
        max-width: 300px;
    }

    .sortingSelects > .orderSelect,
    .sortingSelects > .sortingModeSelect {
        margin: 0 0 5px 0;
        width: 100%;
    }
}

@media screen and (max-width: 660px) {
    .spacesList .header {
        justify-content: center;
    }

    .sortingSelects > div {
        max-width: 300px;
    }
    .addSpaceBtn {
        width: 100%;
        max-width: 300px;
        margin-left: 0;
    }
}