.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 250px;
}

.container img {
    width: 450px;
    max-width: 90%;
}

.container h2 {
    margin: 10px 0;

    font-size: 30px;
    color: var(--color-n800);
}

.container a {
    font-size: 16px;
    color: var(--color-b400);
}

@media screen and (max-width: 400px) {
    .container h2 {
        font-size: 25px;
    }

    .container a {
        font-size: 14px;
    }
}

@media screen and (max-width: 250px) {
    .container h2 {
        font-size: 18px;
        margin: 4px 0;
    }

    .container a {
        font-size: 10px;
    }
}
