.fieldWrapper {
    margin: 35px 0 11px 0;
}

.label {
    font-size: 18px;
    font-weight: 500;
    color: var(--color-n800);
}

.field {
    width: 100%;
    height: 50px;
    padding: 17px 20px;
    margin-top: 11px;
    
    border: 1px solid var(--color-n400);
    border-radius: 4px;
    outline: solid 0px var(--color-blue);
    transition: border .05s ease-in,
                outline .05s ease-out .05s,
                background-color .1s ease-in;

    font-size: 16px;
    color: var(--color-n600);
}

.field:focus {
    outline-width: 1px;
    border-color: var(--color-blue);
}

.field::placeholder {
    color: var(--color-n500)
}

.errorMessage {
    font-size: 14px;
    font-weight: normal;
    color: var(--color-r400);
    margin-top: 2px;
}



/* Style from Bootstrap */
.invalidField {
    border: 1px solid var(--color-red);
    padding-right: calc(1.5em + .75rem);
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.99989 0.00500488C3.58265 0.00500488 0.00488281 3.58277 0.00488281 8.00001C0.00488281 12.4172 3.58265 15.995 7.99989 15.995C12.4171 15.995 15.9949 12.4172 15.9949 8.00001C15.9949 3.58277 12.4171 0.00500488 7.99989 0.00500488ZM7.00051 12.9969V10.9981H8.99926V12.9969H7.00051ZM7.00051 3.00313V9.99876H8.99926V3.00313H7.00051Z' fill='%23D14343'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.7em + .375rem) calc(.7em + .375rem)
}

.validField {
    border: 1px solid var(--color-green);
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 8C0 12.42 3.58 16 8 16C12.42 16 16 12.42 16 8C16 3.58 12.42 0 8 0C3.58 0 0 3.58 0 8ZM11.29 5.29C11.47 5.11 11.72 5 12 5C12.55 5 13 5.45 13 6C13 6.28 12.89 6.53 12.71 6.71L7.71 11.71C7.53 11.89 7.28 12 7 12C6.72 12 6.47 11.89 6.29 11.71L3.29 8.71C3.11 8.53 3 8.28 3 8C3 7.45 3.45 7 4 7C4.28 7 4.53 7.11 4.71 7.29L7 9.59L11.29 5.29Z' fill='%2352BD94'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.7em + .375rem) calc(.7em + .375rem)
}