.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 95px 1fr;
    grid-template-rows: 60px 1fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar main";

}

/*
* SIDEBAR
*/

.sidebar {
    grid-area: sidebar;
    background-color: var(--color-white);
    border-right: solid 1px var(--color-n400);
    padding: 32px 0 64px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.sidebarMiddle {
    display: flex;
    flex-direction: column;
}

.sidebarLink {
    margin: 12px 0;
    display: flex;
    padding: 4px;
    align-items: center;
    justify-content: center;
    transition: background-color .1s ease-in-out;
}

.sidebarLink > svg {
    fill: var(--color-n600);
    width: 28px;
    height: 28px;
}

.sidebarLink:hover {
    background-color: var(--color-n100);
    border-radius: 4px;
}

@media screen and (max-height: 550px) {
    .sidebar {
        padding: 32px 0 32px 0;
    }

    .sidebarLink {
        margin: 5px 0;
    }

    .sidebarLink > svg {
        width: 24px;
        height: 24px;
    }
}


/*
* HEADER
*/

.header {
    grid-area: header;
    background-color: var(--color-white);
    border-bottom: solid 1px var(--color-n400);
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerRight {
    display: flex;
}

.logoutBtn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
    width: 32px;
    height: 32px;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='%23D14343' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7 14H2V2H7C7.55 2 8 1.55 8 1C8 0.45 7.55 0 7 0H1C0.45 0 0 0.45 0 1V15C0 15.55 0.45 16 1 16H7C7.55 16 8 15.55 8 15C8 14.45 7.55 14 7 14ZM15.71 7.29L12.71 4.29C12.53 4.11 12.28 4 12 4C11.45 4 11 4.45 11 5C11 5.28 11.11 5.53 11.29 5.71L12.59 7H6C5.45 7 5 7.45 5 8C5 8.55 5.45 9 6 9H12.59L11.3 10.29C11.11 10.47 11 10.72 11 11C11 11.55 11.45 12 12 12C12.28 12 12.53 11.89 12.71 11.71L15.71 8.71C15.89 8.53 16 8.28 16 8C16 7.72 15.89 7.47 15.71 7.29Z' /%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
}

.logoutBtn:focus {
    background-color: var(--color-n100);
    border-radius: 4px;
}

.avatar {
    width: 32px;
    height: 32px;
    background-color: var(--color-blue);
    border-radius: 4px;
    margin: 0 10px;
}



/*
* MAIN
*/

.main {
    grid-area: main;
    padding: 90px 100px;
    overflow-y: auto;
}

@media screen and (max-width: 800px) {
    .container {
        grid-template-columns: auto;
        grid-template-rows: 60px 1fr;
        grid-template-areas: 
            "header"
            "main";
    }

    .sidebar {
        display: none;
    }
}