.breadcrumbsList {
    list-style: none;
    display: flex;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0;
    margin: 0;
}

.breadcrumbsItem {
    padding: 0;
    border-radius: 4px;
    max-width: 200px;
    font-size: 0.85rem;
    font-weight: 400;
    color: var(--color-n600);
    :global {
        animation: fade-in 0.25s;
    }

    &.active {
        font-weight: 500;
        color: var(--color-n900)
    }
    
    transition: all ease-out 0.2s;
    cursor: pointer;
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
    * {
        text-overflow: ellipsis;
        overflow: hidden;
    }

    &:hover {
        background-color: var(--color-n100);
    }

    // icons
    svg {
        font-size: 1rem;
        flex-shrink: 0;
    }
}

.breadcrumbsSeparator {
    display: inline-flex;
    align-items: center;
    user-select: none;
    margin: 0 0.5rem;
    color: var(--color-n400);
}